# Exercício 2

Obtenha as séries de preços ajustados de Petrobrás PN (PETR4.SA), Lojas Renner (LREN3.SA), Ambev (ABEV3.SA), da ETF SMAL11 (SMAL11.SA) e do Índice IBOVESPA (^BVSP), para o período de 2010-12-31 a 2020-01-01 (10 anos de dados). Estas séries possuem valores faltantes, é necessário fazer o tratamento. Para cada uma destas séries faça:
1. Limpeza dos dados faltantes
1. Cálculo do log-retorno diário
1. Dividir as séries em 5 períodos de 2 anos cada e calcule as estatísticas: retorno esperado e volatilidade anualizados, para cada sub-período.
1. O que você observa? As medidas permanecem *constantes* ao longo do tempo?

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
symbol = 'PETR4.SA LREN3.SA ABEV3.SA SMAL11.SA ^BVSP'

In [3]:
data = yf.download(symbol, start='2010-12-30', end='2020-01-01')

[*********************100%***********************]  5 of 5 completed

## Limpeza dos dados faltantes

In [4]:
data['Adj Close'].shape

(2232, 5)

In [5]:
data['Adj Close'].dropna().shape

(2225, 5)

In [6]:
p = data['Adj Close'].dropna()

In [7]:
p.head()

            ABEV3.SA  LREN3.SA   PETR4.SA  SMAL11.SA    ^BVSP
Date
2010-12-30  6.045817  7.446164  21.904737  70.919998  69305.0
2011-01-03  6.059748  7.537259  21.671963  71.470001  69962.0
2011-01-04  6.061141  7.432962  21.591696  70.940002  70318.0
2011-01-05  5.948304  7.373550  21.848547  70.919998  71091.0
2011-01-06  5.892582  7.195315  21.760258  70.129997  70579.0

## Cálculo do log-retorno diário

In [45]:
r = np.log(p).diff()

## Estatísticas em subperíodos de 2 anos

Dividir as séries em 5 períodos de 2 anos cada e calcule as estatísticas: retorno esperado e volatilidade anualizados, para cada sub-período.

### Criando os subperíodos

In [48]:
r['group'] = np.ceil(r.index.year / 2).astype('int32') - 1005

### Calculando o retorno esperado anualizado para cada subperíodo

In [51]:
r.dropna()\
    .groupby('group')\
    .apply(lambda x: x.mean() * 252)

       ABEV3.SA  LREN3.SA  PETR4.SA  SMAL11.SA     ^BVSP   group
group
1      0.367935  0.212757 -0.139840   0.031988 -0.065648   252.0
2      0.012586  0.003813 -0.295994  -0.178721 -0.100558   504.0
3      0.069557  0.231865  0.200462   0.009402  0.094669   756.0
4     -0.002191  0.371561  0.237397   0.243131  0.193182  1008.0
5      0.224224  0.404524  0.324817   0.458499  0.282840  1260.0

### Calculando o risco esperado anualizado para cada subperíodo

In [52]:
r.dropna()\
    .groupby('group')\
    .apply(lambda x: x.std() * np.sqrt(252))

       ABEV3.SA  LREN3.SA  PETR4.SA  SMAL11.SA     ^BVSP  group
group
1      0.255424  0.369958  0.309180   0.212330  0.233806    0.0
2      0.235389  0.277302  0.459732   0.163247  0.229353    0.0
3      0.220528  0.327793  0.615885   0.228360  0.250101    0.0
4      0.195741  0.316397  0.455122   0.201174  0.207757    0.0
5      0.266602  0.281391  0.290568   0.178664  0.180550    0.0